<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutryFoodPantry</title>

    <!--Importamos fuentes GoogleFonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!--Importamos las hojas de estilo-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/signin.css">
    <!--<link rel="stylesheet" href="/css/signin.css">-->
    <link rel="stylesheet" href="/css/micocina.css">
    <link rel="stylesheet" href="/css/lista.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/message.css">
    <link rel="stylesheet" href="/css/listaCompra.css">

</head>
<body>
    


    {{{body}}}

    {{>message}}


    <!--Importando los iconos de Awesome-->
    <script src="https://kit.fontawesome.com/eee10799b3.js" crossorigin="anonymous"></script>

    <!--Scripts-->
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/lista.js"></script>
    <script src="/scripts/micocina.js"></script>
    <script src="/scripts/message.js"></script>
    <script src="/scripts/listaCompra.js"></script>
    <script src="/scripts/notifications.js"></script>
    <script src="/scripts/signup.js"></script>
    <script src="/scripts/validarFormCocina.js"></script>
    <script src="/scripts/validarFormLista.js"></script>
    <script src="/scripts/validarFormEditPro.js"></script>
    <script src="/scripts/validarFormCocinaEdit.js"></script>
    <script src="/scripts/modalConfig.js"></script>
</body>
</html>