<div class="container-form">
    <form action="/signup" id="form-signup" method="post">
        <div id="hero-form">
            <div id="image-hero"><img src="./img/agregar.png" alt="agregar-user"></div>
            <p>Crea una cuenta</p>
        </div>

        <div id="data-user">
            <div class="separator">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre_us">
            </div>

            <div class="separator">
                <label for="apellido-paterno">Apellido Paterno</label>
                <input type="text" name="ap_usuario">
            </div>

            <div class="separator">
                <label for="apellido-materno">Apellido Materno</label>
                <input type="text" name="am_usuario">
            </div>

            <div class="passwords">
                <section class="pass">
                    <label for="password">Nueva contraseña</label>
                    <input type="password" name="contraseña">
                </section>

                <section class="pass">
                    <label for="confirm">Confirmar contraseña</label>
                    <input type="password" name="confirm">
                </section>
            </div>

            <div class="separator">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono">
            </div>
        </div>

        <div id="actions">
            <button>Registrarse</button>
        </div>
    </form>
</div>